{
    "presets": ["env", "stage-0"],
    "plugins": ["babel-plugin-transform-remove-strict-mode",
        "transform-runtime",
        [
            "component",
            [
            {
                "libraryName": "mint-ui",
                "style": true
            }]
        ]
    ]
}